<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">



    <title>NBA All Stars</title>
  </head>
  <body>
    

    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="navbar-brand col-1 ">NBA All Stars</div>
    <div class = "col-6">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/add">Add Player</a>
        </div>
    </div>
    </div>
    <div class="col-4">
      <form role="form" id="search=Form" name ="searchForm" action="{{ url_for('search_for') }}" method="post">
    <input id="search-bar" name="result" type="text" placeholder="Search">
    <input id="submit-btn" type="submit" value="search" class="btn search-btn">
    </form>
    </div>
    </div>
  </div>
</nav>

    <div class="container-fluid">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




